
body {
  font-family: sans-serif;
  color: rgb(15, 23, 41);
}
.nav--container {
  background-color: rgb(242, 245, 250);
}
.logo {
  font-size: x-large;
  font-weight: bold;
}
.product--container {
  width: 80rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.product {
  width: 230px;
  height: 180px;
  border: 2px white solid;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
.product {
  text-decoration: none;
  color: black;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.center {
  justify-content: center;
  justify-items: center;
}
.space-between {
  justify-content: space-between;
}

ul {
  display: flex;
  gap: 1rem;
}
.navbar > li {
  list-style-type: none;
}
.navbar > li > a {
  text-decoration: none;
  color: black;
}
.pd-2rem {
  padding-inline: 2rem;
}
.align-center {
  align-items: center;
}
.flex--product {
  display: flex;
  gap: 4rem;
  margin-inline: 4rem;
  margin-block: 2rem;
}

.flex--product > img {
  width: 30rem;
}
.full-width {
  width: 100%;
}

.btn {
  width: 100%;
  background-color: rgb(15, 23, 41);
  color: white;
  font-family: sans-serif;
  font-size: medium;
  height: 2.5rem;
  bottom: 4rem;
}
.btn:hover {
  cursor: pointer;
  background-color: rgba(15, 23, 41, 0.9);
}
.summary-container {
  border: 2px white solid;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  margin: 1rem;
  padding: 1rem 2rem;
}
.err-msg {
  text-align: center;
}
.go-home--btn {
  padding: 1rem;
  font-size: medium;
  text-align: center;
}
.go-home--btn > * {
  text-decoration: none;
  color: rgb(15, 23, 41)

}